<p>こんにちは、 <%= @resource.email %>!</p>

<p>次のリンクでパスワードの再設定が出来ます。</p>

<p><%= link_to 'パスワード変更', edit_password_url(@resource, reset_password_token: @token, config: message['client-config'].to_s, redirect_url: message['redirect-url'].to_s) %></p>

<p>あなたが希望したのではないのなら、このメールは無視してください。</p>
<p>上のリンクにアクセスして新しいパスワードを設定するまで、パスワードは変更されません。</p>
